.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47:first-child {
    margin: 0 24px;
    line-height: 30px;
    border-bottom: 1px #ccc solid;
    font-size: 14px;
    font-weight: normal;
  }